/*
Color theme:
Actionable Elements, Links Buttons & Menus (Blue): #46A0F8;
Header/Paragraph Text/Header & Footer (Black): #1F1F1F;
Main Background (Grey): #BFC0C5;
Contrasting Text/Boxes & Containers/Alternate Background (White): #FFFFFF;
*/
/*
Typography:
Poppins Semi Bold
Use - Headings
Sizes - 56px, 35px, 27px, 25px, 20px

Avenir
Use - Emphasized paragraphs
Sizes - 14px

Avenir Light
Use - Paragraphs & headings
Sizes - 14px, 18px, 25px


*/
@font-face {
  font-family: "Avenir-Light";
  src: url("Avenir-Light.eot");
  src: url("Avenir-Light.woff") format("woff"),
    url("Avenir-Light.otf") format("opentype"),
    url("Avenir-Light.svg#filename") format("svg");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("Avenir-Roman.eot");
  src: url("Avenir-Roman.woff") format("woff"),
    url("Avenir-Roman.otf") format("opentype"),
    url("Avenir-Roman.svg#filename") format("svg");
}

/* *************** LAYOUT STYLING *************** */
* {
  box-sizing: border-box;
}

header {
  border: solid #AA4A44;
  border-width: 1px;
  background-color: #1F1F1F;
  padding: 5px 5px 5px 5px;
  margin: 0px;
}

body {
  background-color: #BFC0C5;
  font-family: 'Avenir-Light', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #1F1F1F;
}

footer {
  border: solid #AA4A44;
  border-width: 1px;
  background-color: #1f1f1f;
  padding: 5px 5px 5px 5px;
  bottom: 0;
  width: 100%;
}

/* ******************** HEADINGS ********************  */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 56px;
  font-weight: 600;
  color: #1F1F1F;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #1F1F1F;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #1F1F1F;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #1F1F1F;
}

h5 {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #1F1F1F;
  margin-top: 5px;
  margin-bottom: 5px;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #46A0F8;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* ******************** PARAGRAPHS ********************  */


p {
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.p1-spaced {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 4.5px
}

.p2-blue {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #46A0F8;
}

.p2-grey {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #BFC0C5;
}

.p2-black {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #1F1F1F;
}

.p2-white {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
}

.p3-blue {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #46A0F8;
}

.p3-grey {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #BFC0C5;
}

.p3-black {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #1F1F1F;
}

.p3-white {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #FFFFFF;
}

/* ********************** ELEMENTS ********************** */
.button {
  display: inline-block;
  color: #FFFFFF;
  background-color: #46A0F8;
  font-family: 'Avenir-Light';
  font-weight: bolder;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100px;
}

.breakline-long {
  border: solid #AA4A44;
  border-width: 1px;
  border-top: solid;
  border-width: thin;
  width: auto;
  margin: 25px auto 25px auto;
}

.breakline-short {
  border: solid #AA4A44;
  border-width: 1px;
  border-top: solid;
  border-width: thin;
  width: 50px;
  margin: 25px auto 25px auto;
}

ul {
  padding-inline-start: 20px;
}



/* ******************** LINKS ******************** */
a {
  color: #46A0F8;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FFFFFF;
}

a:active {
  color: #ffffff;
}

.navigation {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  position: absolute;
  right: 20px;
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
}


nav>ul {
  border: solid #AA4A44;
  border-width: 1px;
  list-style-type: none;
  padding: inherit;
  margin: inherit;
}

nav>ul>li {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  padding: inherit;
  margin: inherit;
}

nav>ul>li>a {
  display: inline-block;
  border: solid #AA4A44;
  border-width: 1px;
  padding: 0px 15px;
  text-transform: uppercase;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  color: #ffffff;
}



/* ********************** MAIN ********************** */
.header-container {
  border: solid #AA4A44;
  border-width: 1px;
  padding: 5px 5px;
  margin: 5px 5px;
  display: flex;
  align-items: center;
}

.Arin-logo-combined {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 5px 5px;
  align-items: center;
  /*
  border: solid #AA4A44;
  border-width: 1px;
  */
}

.Arin-logos {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 0px;
}

.Arin_logo_only_blue_noglo {
  filter: drop-shadow(0px 4px 2px rgba(255, 255, 255, 1));
}


.footer-container {
  border: solid #AA4A44;
  border-width: 1px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.contact-container {
  border: solid #AA4A44;
  border-width: 1px;
  padding: 10px;
  display: inline-block;
}

.contact {
  border: solid #AA4A44;
  border-width: 1px;
  color: #BFC0C5;
  font-family: Avenir-Roman;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
}

.contact-elements-all {
  border: solid #AA4A44;
  border-width: 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-elements-combined {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  padding: 10px;
}

.contact-elements {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  padding: 10px;
  color: #BFC0C5;
}

.copyright-container {
  border: solid #AA4A44;
  border-width: 1px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.copyright-element {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color: #BFC0C5
}

/* ********************** INDEX.HTML ********************** */
.hero-container {
  border: solid #AA4A44;
  border-width: 1px;
  padding: 150px;
}

.profile-container {
  border: solid #AA4A44;
  border-width: 1px;
  background-color: #FFFFFF;
  display: inline-block;
  padding: 5px;
  width: 375px;
  height: 530px;
  vertical-align: middle;
  margin-right: 30px;
  box-shadow: 5px 5px 10px #1F1F1F;
}

.portrait {
  padding: 40px;
}

.name-title {
  border: solid #AA4A44;
  border-width: 1px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 15px 0px 30px 0px;
}

.social-container {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 5px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  padding: 0px;
  margin: 5px;
}

.welcome-container {
  border: solid #AA4A44;
  border-width: 1px;
  display: inline-block;
  width: 600px;
  height: 530px;
  vertical-align: middle;
  padding: 5px;
  margin-left: 30px;
}

/* ********************** PROJECTS.HTML ********************** */
.projects-intro-container {
  border: solid #AA4A44;
  border-width: 1px;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 100px 100px 100px 100px;
}

.projects-container {
  border: solid #AA4A44;
  border-width: 1px;
  background-color: #FFFFFF;
  padding: 20px 20px 20px 0px;
  margin: 100PX auto;
  width: 750px;
  height: 400px;
  box-shadow: 5px 5px 10px #1F1F1F;
}

.projects-text {
  float: left;
  text-align: left;
  padding: 5px;
  margin: 20px 20px 20px 25px;
  width: 360px;
  display: inline-block;
}

.projects-bombora-image {
  display: inline-block;
  margin: auto;
  padding: 10px;
  margin: 20px 10px 0px 0px;
  float: right;
}

.projects-vocwebulary-image {
  display: inline-block;
  margin: auto;
  padding: 10px;
  margin: 20px 10px 0px 0px;
  float: right;
}

.square {
  height: 48px;
  width: 10px;
  background-color: #46A0F8;
  margin-top: 30px;
  float: left;
}

/* ********************** BOMBORA.HTML ********************** */
.project-text-block {
  border: solid #AA4A44;
  border-width: 1px;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 100px 100px 100px 100px;
}

.project-graphical-block {
  border: solid #AA4A44;
  border-width: 1px;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 100px 100px 100px 100px;
}

.project-text-graphical-block {
  border: solid #AA4A44;
  border-width: 1px;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 100px 100px 100px 100px;
}

.grid-container {
  border: solid #AA4A44;
  border-width: 1px;
  display: block;
}

.grid-item-left {
  border: solid #AA4A44;
  border-width: 1px;
  display: block;
  text-align: left;
  justify-content: left;
  width: auto;
  padding: 5px;
  margin: 20px;
}
.grid-item-center {
  border: solid #AA4A44;
  border-width: 1px;
  display: block;
  text-align: center;
  width: auto;
  padding: 5px;
  margin: 20px;
}

.column {
  border: solid #AA4A44;
  border-width: 1px;
  flex: 50%;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}


img:not(#portrait) {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  vertical-align: top;
}

/* ******************** TEXT ******************** */
.uppercase {
  text-transform: uppercase;
}

/* *************** STATES *************** */
.button:hover {
  opacity: 0.8;
}

#state-hover:hover {
  opacity: 0.5;
}

/* ******************** IDs ******************** */

#portrait {
  border: solid #AA4A44;
  border-width: 1px;
  border-radius: 50%;
  margin: 30px 30px 15px 30px;
}

#breakline-black {
  border-color: #1F1F1F;
}

#breakline-blue {
  border-color: #46A0F8;
}

#breakline-grey {
  border-color: #BFC0C5;
}

#breakline-white {
  border-color: #FFFFFF;
}

#long {
  border-top: solid;
  border-width: thin;
  width: 50px;
  margin: 25px auto 25px auto;
}
