/*
Color theme:
Actionable Elements, Links Buttons & Menus (Blue): #46A0F8;
Header/Paragraph Text/Header & Footer (Black): #1F1F1F;
Main Background (Grey): #BFC0C5;
Contrasting Text/Boxes & Containers/Alternate Background (White): #FFFFFF;
*/
/*
Typography:
Poppins Semi Bold
Use - Headings
Sizes - 56px, 35px, 27px, 25px, 20px

Avenir
Use - Emphasized paragraphs
Sizes - 14px

Avenir Light
Use - Paragraphs & headings
Sizes - 14px, 18px, 25px


*/
@font-face {
  font-family: "Avenir-Light";
  src: url("Avenir-Light.eot");
  src: url("Avenir-Light.woff") format("woff"),
    url("Avenir-Light.otf") format("opentype"),
    url("Avenir-Light.svg#filename") format("svg");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("Avenir-Roman.eot");
  src: url("Avenir-Roman.woff") format("woff"),
    url("Avenir-Roman.otf") format("opentype"),
    url("Avenir-Roman.svg#filename") format("svg");
}

/* *************** LAYOUT STYLING *************** */
* {
  box-sizing: border-box;
}

header {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  background-color: #1F1F1F;
  padding: 5px 5px 5px 5px;
  margin: 0px;
}

body {
  background-color: #BFC0C5;
  font-family: 'Avenir-Light', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #1F1F1F;
}

footer {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  background-color: #1f1f1f;
  padding: 5px 5px 5px 5px;
  bottom: 0;
  width: 100%;
}

/* ******************** HEADINGS ********************  */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 56px;
  font-weight: 600;
  color: #1F1F1F;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #1F1F1F;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #1F1F1F;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #1F1F1F;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #1F1F1F;
  margin-top: 10px;
  margin-bottom: 10px;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #46A0F8;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ******************** PARAGRAPHS ********************  */
p {
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.p1-spaced {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 4.5px
}

.p2-blue {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #46A0F8;
}

.p2-grey {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #BFC0C5;
}

.p2-black {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #1F1F1F;
}

.p2-white {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
}

.p3-blue {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #46A0F8;
}

.p3-grey {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #BFC0C5;
}

.p3-black {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #1F1F1F;
}

.p3-white {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #FFFFFF;
}

/* ********************** LISTS ********************** */
ul {
  padding-inline-start: 20px;
}

/* ********************** BUTTONS ********************** */
.button {
  display: inline-block;
  width: 125px;
  height: 40px;
  color: #FFFFFF;
  background-color: #46A0F8;
  font-family: 'Avenir-Light';
  font-weight: bolder;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100px;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  animation-duration:  650ms;
  animation-name: button-drop;
  animation-direction: normal;
  animation-timing-function: linear;

}

@keyframes button-drop {
  from {transform: translate(0,-150px);}
  to {transform: translate(0px,0px);}
}

.button:hover {
  box-shadow: 0px 0px 4px 4px #FFFFFF;
}

#state-hover:hover {
  opacity: 0.5;
}

.breakline-long {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  border-top: solid;
  border-width: thin;
  width: auto;
  margin: 25px auto 25px auto;
}

.breakline-short-left {
  border-top: solid;
  border-width: thin;
  width: 50px;
  margin: 10px auto 10px 5px;
}

.breakline-short-center {
  border-top: solid;
  border-width: thin;
  width: 50px;
  margin: 10px auto;
}

/* ******************** LINKS ******************** */
a {
  color: #46A0F8;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FFFFFF;
}

a:active {
  color: #ffffff;
}

.navigation {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  right: 20px;
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
}

nav>ul {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  list-style-type: none;
  padding: inherit;
  margin: inherit;
}

nav>ul>li {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  padding: inherit;
  margin: inherit;
}

nav>ul>li>a {
  display: inline-block;
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 14px;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  color: #ffffff;
}

/* ********************** MAIN ********************** */
.header-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  padding: 5px 5px;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Arin-logos-combined {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 5px 5px;
  align-items: center;
}

.Arin-logo {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 0px;
}

.Arin-logo-text {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 0px;
}

.Arin_logo_only_blue_noglo {
  filter: drop-shadow(0px 4px 2px rgba(255, 255, 255, 1));
}

.footer-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.contact-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  padding: 10px;
  display: inline-block;
}

.contact {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  color: #BFC0C5;
  font-family: Avenir-Roman;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
}

.contact-elements-all {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-elements-combined {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  padding: 10px;
}

.contact-elements {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  padding: 10px;
  color: #BFC0C5;
}

.copyright-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.copyright-element {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color: #BFC0C5
}

/* ********************** INDEX.HTML ********************** */
.hero-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  align-items: center;
  margin: 100px auto;
  width: 1020px;
  height: 540px;
}

.profile-container {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 5px;
  width: 375px;
  height: 530px;
  vertical-align: middle;
  margin: auto;
  box-shadow: 5px 5px 10px #1F1F1F;
  float: left;
}

.portrait {
  padding: 40px;
}

.name-title {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 15px 0px 30px 0px;
}

.social-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 5px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: inline-block;
  padding: 0px;
  margin: 5px;
}

.welcome-container {
  display: inline-block;
  width: 600px;
  height: 530px;
  vertical-align: middle;
  padding: 5px;
  margin: auto;
  float: right;
}

@keyframes portrait-glow {
  0% {
    box-shadow: 0px 0px 4px 4px #ffffff;
  }

  50% {
    box-shadow: 0px 0px 4px 4px #46A0F8;
  }

  100% {
    box-shadow: 0px 0px 4px 4px #ffffff;
  }
}

/* ********************** PROJECTS.HTML ********************** */
.projects-intro-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: block;
  text-align: center;
  padding: 10px;
  margin: 100px 100px 100px 100px;
}

.projects-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  background-color: #FFFFFF;
  padding: 20px 0px 20px 0px;
  margin: 100PX auto;
  width: 750px;
  height: 400px;
  box-shadow: 5px 5px 10px #1F1F1F;
}

.projects-text {
  text-align: left;
  padding: 5px;
  margin: 20px 0px 20px 20px;
  max-width: 360px;
  display: inline-block;
}

.projects-bombora-image {
  display: inline-block;
  padding: 10px;
  margin: 20px 20px 20px 20px;
  float: right;
  transition-property: transform;
  transition-duration: 0.5s;
}

.projects-bombora-image:hover {
  transform: scale(1.05);
}

.projects-vocwebulary-image {
  display: inline-block;
  padding: 10px;
  margin: 20px 20px 20px 20px;
  float: right;
  transition-property: transform;
  transition-duration: 0.5s;
}

.projects-vocwebulary-image:hover {
  transform: scale(1.05);
}

.square {
  height: 48px;
  width: 10px;
  background-color: #46A0F8;
  margin-top: 30px;
  float: left;
}

/* ********************** BOMBORA.HTML ********************** */
.project-heading-block {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: block;
  text-align: center;
  padding: 10px;
  margin: 50px 100px 50px 100px;
}

.project-text-block {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: block;
  text-align: center;
  padding: 10px;
  margin: 50px 100px 50px 100px;
}

.project-graphical-block {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: block;
  text-align: center;
  padding: 10px;
  margin: 50px 100px 500px 100px;
}

.project-text-graphical-block {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: block;
  text-align: center;
  padding: 10px;
  margin: 50px 100px 50px 100px;
}

.grid-container {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-container-2x2 {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  text-align: center;
  padding: 5px;
  margin: 20px;
}

.grid-item-left {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: block;
  text-align: left;
  align-items: left;
  justify-content: left;
  width: auto;
  padding: 10px;
  margin: 20px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 10px #1F1F1F;
}

.grid-item-center {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  display: block;
  text-align: center;
  width: auto;
  padding: 5px;
  margin: 20px;
}

.column {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  flex: 50%;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

img:not(#portrait) {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  vertical-align: top;
}

/* ******************** TEXT ******************** */
.uppercase {
  text-transform: uppercase;
}

/* ******************** IDs ******************** */
#portrait {
  /*border: solid #AA4A44;*/
  /*border-width: 1px;*/
  border-radius: 50%;
  margin: 30px 30px 15px 30px;
}

#portrait:hover {
  animation-name: portrait-glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#breakline-black {
  border-color: #1F1F1F;
}

#breakline-blue {
  border-color: #46A0F8;
}

#breakline-grey {
  border-color: #BFC0C5;
}

#breakline-white {
  border-color: #FFFFFF;
}

#long {
  border-top: solid;
  border-width: thin;
  width: 50px;
  margin: 25px auto 25px auto;
}

#background-white {
  background-color: #FFFFFF;
}

#

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Large devices (between 1024px & 1440px)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Medium devices (between 640px & 1024px)
================================= */
@media only screen and (max-width: 1024px) {
  nav>ul>li {
    display: block;
  }

  .hero-container {
    width: 500px;
    height: 1080px;
  }

  .profile-container {
    float: none;
    display: block;
    margin-bottom: 25px;
  }

  .welcome-container {
    text-align: center;
    width: auto;
    margin-top: 25px;
  }

  .projects-container {
    width: 480px;
    height: 700px;
  }

  .projects-bombora-image {
    float: none;
  }

  .projects-vocwebulary-image {
    float: none;
  }
}

/* ==============================
Small devices (between 470px & 640px)
================================= */
@media only screen and (max-width: 640px) {
  .Arin-logo {
    visibility: hidden;
    display: block;
    position: absolute;
  }
}

/* ==============================
Smaller devices (Up to 470px)
================================= */
@media only screen and (max-width: 470px) {
  .Arin-logo-text {
    visibility: hidden;
  }

  .Arin-logo {
    visibility: visible;
    display: block;
    position: absolute;
  }
}
